In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('lunch_menu.csv')

In [26]:
df.head(2)

,ename,gmail,github,domain,vercel,role,2025-01-07,2025-01-08,2025-01-09,2025-01-10,...,2025-01-16,2025-01-17,2025-01-20,2025-01-21,2025-01-22,2025-01-23,2025-01-24,2025-02-03,2025-02-04,2025-02-05
0,TOM,tom@diginori.com,ppabam,sunsin.shop,https://sunsin.vercel.app,PM,순대국,비지찌개,"냉동김밥,컵라면",잔치국수,...,오징어 덮밥,짜장면,집밥 도시락,소고기무국,-,오징어덮밥,볶음밥,짜장면,-,-
1,cho,j01040864205@gmail.com,cho6019,cho6019.store,https://cho6019.vercel.app,행동강령 수립 위원회,닭개장,규동,얼큰 순대국밥,스파게티,...,간짜장,스파게티,버섯 비프 카레,스파게티,설렁탕,치킨마요덮밥,등심돈까스,"치즈라면, 김밥",-,-

In [27]:
df.columns.get_loc('2025-01-07')

6

In [28]:
df.columns[6:]

Index(['2025-01-07', '2025-01-08', '2025-01-09', '2025-01-10', '2025-01-13',
       '2025-01-14', '2025-01-15', '2025-01-16', '2025-01-17', '2025-01-20',
       '2025-01-21', '2025-01-22', '2025-01-23', '2025-01-24', '2025-02-03',
       '2025-02-04', '2025-02-05'],
      dtype='object')

In [29]:
for c in df.columns[6:]:
    print(c)

2025-01-07
2025-01-08
2025-01-09
2025-01-10
2025-01-13
2025-01-14
2025-01-15
2025-01-16
2025-01-17
2025-01-20
2025-01-21
2025-01-22
2025-01-23
2025-01-24
2025-02-03
2025-02-04
2025-02-05

In [30]:
df.columns[6:-2]

Index(['2025-01-07', '2025-01-08', '2025-01-09', '2025-01-10', '2025-01-13',
       '2025-01-14', '2025-01-15', '2025-01-16', '2025-01-17', '2025-01-20',
       '2025-01-21', '2025-01-22', '2025-01-23', '2025-01-24', '2025-02-03'],
      dtype='object')

In [31]:
df.columns

Index(['ename', 'gmail', 'github', 'domain', 'vercel', 'role', '2025-01-07',
       '2025-01-08', '2025-01-09', '2025-01-10', '2025-01-13', '2025-01-14',
       '2025-01-15', '2025-01-16', '2025-01-17', '2025-01-20', '2025-01-21',
       '2025-01-22', '2025-01-23', '2025-01-24', '2025-02-03', '2025-02-04',
       '2025-02-05'],
      dtype='object')

In [32]:
for c in df.columns[start_idx:-2]:  # 지정한 컬럼부터 마지막까지 순회
    print(f"{c}")

2025-01-07
2025-01-08
2025-01-09
2025-01-10
2025-01-13
2025-01-14
2025-01-15
2025-01-16
2025-01-17
2025-01-20
2025-01-21
2025-01-22
2025-01-23
2025-01-24
2025-02-03

In [33]:
start_idx = df.columns.get_loc('2025-01-07')

for _, row in df.iterrows():  # 모든 행을 순회
    for c in df.columns[start_idx:]:  # 지정한 컬럼부터 마지막까지 순회
        print(f"{row['ename']},{c},{row[c]}")

TOM,2025-01-07,순대국
TOM,2025-01-08,비지찌개
TOM,2025-01-09,냉동김밥,컵라면
TOM,2025-01-10,잔치국수
TOM,2025-01-13,제육덮밥
TOM,2025-01-14,소고기무국
TOM,2025-01-15,소고기덮밥
TOM,2025-01-16,오징어 덮밥
TOM,2025-01-17,짜장면
TOM,2025-01-20,집밥 도시락
TOM,2025-01-21,소고기무국
TOM,2025-01-22,-
TOM,2025-01-23,오징어덮밥
TOM,2025-01-24,볶음밥
TOM,2025-02-03,짜장면
TOM,2025-02-04,-
TOM,2025-02-05,-
cho,2025-01-07,닭개장
cho,2025-01-08,규동
cho,2025-01-09,얼큰 순대국밥
cho,2025-01-10,스파게티
cho,2025-01-13,한솥
cho,2025-01-14,순대국밥 고기만
cho,2025-01-15,파스타
cho,2025-01-16,간짜장
cho,2025-01-17,스파게티
cho,2025-01-20,버섯 비프 카레
cho,2025-01-21,스파게티
cho,2025-01-22,설렁탕
cho,2025-01-23,치킨마요덮밥
cho,2025-01-24,등심돈까스
cho,2025-02-03,치즈라면, 김밥
cho,2025-02-04,-
cho,2025-02-05,-
hyun,2025-01-07,닭개장(특) , 꽈배기
hyun,2025-01-08,주먹밥
hyun,2025-01-09,얼큰 순대국밥
hyun,2025-01-10,불닭로제찜닭
hyun,2025-01-13,한솥
hyun,2025-01-14,순대국밥
hyun,2025-01-15,까르보나라 파스타
hyun,2025-01-16,간짜장 곱빼기
hyun,2025-01-17,참치김밥,라볶이
hyun,2025-01-20,Forrk 카레
hyun,2025-01-21,고등어구이,제육볶음
hyun,2025-01-22,육회비빔밥
hyun,2025-01-23,김치찌개
hyun,2025-01-24,안심까스
hyun,2025-02-03,라돈 모다기
hyun,2025-02-04,-
hyun,2025-02-05,-
JERRY,2025-01-07,닭개장
JERRY,2025-01-08,주먹밥
JERRY,2025-01-09,얼큰 순대국밥
JERRY,2025-01-10,불닭로제찜닭
JERRY,2025-01-13,한솥
JERRY,2025-01-14,뼈해장국
JERRY,2025-01-15,모짜렐라 토마토 파스타
JERRY,2025-01-16,짬짜면
JERRY,2025-01-17,<결석>
JERRY,2025-01-20,함바그 카레
JERRY,2025-01-21,고등어구이,제육볶음
JERRY,2025-01-22,설렁탕
JERRY,2025-01-23,치킨마요,찹쌀탕수육
JERRY,2025-01-24,반반가츠
JERRY,2025-02-03,모다기
JERRY,2025-02-04,-
JERRY,2025-02-05,-
SEO,2025-01-07,볶음밥
SEO,2025-01-08,유부초밥
SEO,2025-01-09,볶음밥
SEO,2025-01-10,볶음밥 , 연어
SEO,2025-01-13,연어덮밥
SEO,2025-01-14,볶음밥
SEO,2025-01-15,연어덮밥
SEO,2025-01-16,샌드위치
SEO,2025-01-17,유부초밥
SEO,2025-01-20,유부초밥
SEO,2025-01-21,고등어구이,제육볶음
SEO,2025-01-22,불고기
SEO,2025-01-23,닭다리살 간장조림
SEO,2025-01-24,-
SEO,2025-02-03,닭죽
SEO,2025-02-04,-
SEO,2025-02-05,-
jiwon,2025-01-07,닭개장
jiwon,2025-01-08,스키야키
jiwon,2025-01-09,참깨라면 작은컵,삼각김밥
jiwon,2025-01-10,불닭로제찜닭
jiwon,2025-01-13,-
jiwon,2025-01-14,-
jiwon,2025-01-15,-
jiwon,2025-01-16,짬짜면
jiwon,2025-01-17,떡라면
jiwon,2025-01-20,카레
jiwon,2025-01-21,쉐이크
jiwon,2025-01-22,쉐이크 , 샌드위치
jiwon,2025-01-23,한솥
jiwon,2025-01-24,부리또
jiwon,2025-02-03,잔치국수
jiwon,2025-02-04,-
jiwon,2025-02-05,-
jacob,2025-01-07,자장면
jacob,2025-01-08,텐동
jacob,2025-01-09,얼큰 설렁탕
jacob,2025-01-10,부대찌개
jacob,2025-01-13,참치김치찌개
jacob,2025-01-14,한솥
jacob,2025-01-15,햄 김치찌개
jacob,2025-01-16,비빔,잔치 국수 반반
jacob,2025-01-17,안심 돈카츠
jacob,2025-01-20,백반
jacob,2025-01-21,얼큰미나리 샤브세트
jacob,2025-01-22,순두부 찌개
jacob,2025-01-23,육회비빔밥
jacob,2025-01-24,순두부찌개
jacob,2025-02-03,김치 찌개
jacob,2025-02-04,-
jacob,2025-02-05,-
heejin,2025-01-07,덮밥
heejin,2025-01-08,덮밥
heejin,2025-01-09,설렁탕
heejin,2025-01-10,부대찌개
heejin,2025-01-13,김밥
heejin,2025-01-14,김밥
heejin,2025-01-15,오므라이스
heejin,2025-01-16,돈까스
heejin,2025-01-17,볶음밥 , 컵라면
heejin,2025-01-20,볶음밥
heejin,2025-01-21,얼큰미나리 샤브세트
heejin,2025-01-22,오므라이스
heejin,2025-01-23,김밥
heejin,2025-01-24,김치찌개
heejin,2025-02-03,샌드위치
heejin,2025-02-04,-
heejin,2025-02-05,-
lucas,2025-01-07,볶음밥
lucas,2025-01-08,규동
lucas,2025-01-09,한우 곰탕
lucas,2025-01-10,부대찌개
lucas,2025-01-13,꽃게 된장찌개
lucas,2025-01-14,한솥
lucas,2025-01-15,생고기김치찌개,라면사리
lucas,2025-01-16,비빔국수 , 반 계란 김밥
lucas,2025-01-17,안심 돈카츠
lucas,2025-01-20,낙지 볶음
lucas,2025-01-21,얼큰미나리 샤브세트
lucas,2025-01-22,햄 김치찌개
lucas,2025-01-23,육회비빔밥
lucas,2025-01-24,콩나물해장국
lucas,2025-02-03,제육볶음
lucas,2025-02-04,-
lucas,2025-02-05,-
nuni,2025-01-07,일반 짬뽕 보통
nuni,2025-01-08,무공 옛날돈가스
nuni,2025-01-09,얼큰 설렁탕
nuni,2025-01-10,부대찌개
nuni,2025-01-13,고기김치찌개,라면세트
nuni,2025-01-14,한솥
nuni,2025-01-15,순두부찌개
nuni,2025-01-16,반반국수(비빔&잔치)
nuni,2025-01-17,카레 돈카츠 세트
nuni,2025-01-20,제육볶음
nuni,2025-01-21,x
nuni,2025-01-22,순두부 찌개
nuni,2025-01-23,육회비빔밥
nuni,2025-01-24,김치찌개,라면
nuni,2025-02-03,제육볶음
nuni,2025-02-04,-
nuni,2025-02-05,-

In [35]:
# 날짜 기준으로 정렬되게 바꾼 버전
start_idx = df.columns.get_loc('2025-01-07')

for c in df.columns[start_idx:]:  # 지정한 컬럼부터 마지막까지 순회 
    for _, row in df.iterrows():  # 모든 행을 순회
        print(f"{row['ename']},{c},{row[c]}")

TOM,2025-01-07,순대국
cho,2025-01-07,닭개장
hyun,2025-01-07,닭개장(특) , 꽈배기
JERRY,2025-01-07,닭개장
SEO,2025-01-07,볶음밥
jiwon,2025-01-07,닭개장
jacob,2025-01-07,자장면
heejin,2025-01-07,덮밥
lucas,2025-01-07,볶음밥
nuni,2025-01-07,일반 짬뽕 보통
TOM,2025-01-08,비지찌개
cho,2025-01-08,규동
hyun,2025-01-08,주먹밥
JERRY,2025-01-08,주먹밥
SEO,2025-01-08,유부초밥
jiwon,2025-01-08,스키야키
jacob,2025-01-08,텐동
heejin,2025-01-08,덮밥
lucas,2025-01-08,규동
nuni,2025-01-08,무공 옛날돈가스
TOM,2025-01-09,냉동김밥,컵라면
cho,2025-01-09,얼큰 순대국밥
hyun,2025-01-09,얼큰 순대국밥
JERRY,2025-01-09,얼큰 순대국밥
SEO,2025-01-09,볶음밥
jiwon,2025-01-09,참깨라면 작은컵,삼각김밥
jacob,2025-01-09,얼큰 설렁탕
heejin,2025-01-09,설렁탕
lucas,2025-01-09,한우 곰탕
nuni,2025-01-09,얼큰 설렁탕
TOM,2025-01-10,잔치국수
cho,2025-01-10,스파게티
hyun,2025-01-10,불닭로제찜닭
JERRY,2025-01-10,불닭로제찜닭
SEO,2025-01-10,볶음밥 , 연어
jiwon,2025-01-10,불닭로제찜닭
jacob,2025-01-10,부대찌개
heejin,2025-01-10,부대찌개
lucas,2025-01-10,부대찌개
nuni,2025-01-10,부대찌개
TOM,2025-01-13,제육덮밥
cho,2025-01-13,한솥
hyun,2025-01-13,한솥
JERRY,2025-01-13,한솥
SEO,2025-01-13,연어덮밥
jiwon,2025-01-13,-
jacob,2025-01-13,참치김치찌개
heejin,2025-01-13,김밥
lucas,2025-01-13,꽃게 된장찌개
nuni,2025-01-13,고기김치찌개,라면세트
TOM,2025-01-14,소고기무국
cho,2025-01-14,순대국밥 고기만
hyun,2025-01-14,순대국밥
JERRY,2025-01-14,뼈해장국
SEO,2025-01-14,볶음밥
jiwon,2025-01-14,-
jacob,2025-01-14,한솥
heejin,2025-01-14,김밥
lucas,2025-01-14,한솥
nuni,2025-01-14,한솥
TOM,2025-01-15,소고기덮밥
cho,2025-01-15,파스타
hyun,2025-01-15,까르보나라 파스타
JERRY,2025-01-15,모짜렐라 토마토 파스타
SEO,2025-01-15,연어덮밥
jiwon,2025-01-15,-
jacob,2025-01-15,햄 김치찌개
heejin,2025-01-15,오므라이스
lucas,2025-01-15,생고기김치찌개,라면사리
nuni,2025-01-15,순두부찌개
TOM,2025-01-16,오징어 덮밥
cho,2025-01-16,간짜장
hyun,2025-01-16,간짜장 곱빼기
JERRY,2025-01-16,짬짜면
SEO,2025-01-16,샌드위치
jiwon,2025-01-16,짬짜면
jacob,2025-01-16,비빔,잔치 국수 반반
heejin,2025-01-16,돈까스
lucas,2025-01-16,비빔국수 , 반 계란 김밥
nuni,2025-01-16,반반국수(비빔&잔치)
TOM,2025-01-17,짜장면
cho,2025-01-17,스파게티
hyun,2025-01-17,참치김밥,라볶이
JERRY,2025-01-17,<결석>
SEO,2025-01-17,유부초밥
jiwon,2025-01-17,떡라면
jacob,2025-01-17,안심 돈카츠
heejin,2025-01-17,볶음밥 , 컵라면
lucas,2025-01-17,안심 돈카츠
nuni,2025-01-17,카레 돈카츠 세트
TOM,2025-01-20,집밥 도시락
cho,2025-01-20,버섯 비프 카레
hyun,2025-01-20,Forrk 카레
JERRY,2025-01-20,함바그 카레
SEO,2025-01-20,유부초밥
jiwon,2025-01-20,카레
jacob,2025-01-20,백반
heejin,2025-01-20,볶음밥
lucas,2025-01-20,낙지 볶음
nuni,2025-01-20,제육볶음
TOM,2025-01-21,소고기무국
cho,2025-01-21,스파게티
hyun,2025-01-21,고등어구이,제육볶음
JERRY,2025-01-21,고등어구이,제육볶음
SEO,2025-01-21,고등어구이,제육볶음
jiwon,2025-01-21,쉐이크
jacob,2025-01-21,얼큰미나리 샤브세트
heejin,2025-01-21,얼큰미나리 샤브세트
lucas,2025-01-21,얼큰미나리 샤브세트
nuni,2025-01-21,x
TOM,2025-01-22,-
cho,2025-01-22,설렁탕
hyun,2025-01-22,육회비빔밥
JERRY,2025-01-22,설렁탕
SEO,2025-01-22,불고기
jiwon,2025-01-22,쉐이크 , 샌드위치
jacob,2025-01-22,순두부 찌개
heejin,2025-01-22,오므라이스
lucas,2025-01-22,햄 김치찌개
nuni,2025-01-22,순두부 찌개
TOM,2025-01-23,오징어덮밥
cho,2025-01-23,치킨마요덮밥
hyun,2025-01-23,김치찌개
JERRY,2025-01-23,치킨마요,찹쌀탕수육
SEO,2025-01-23,닭다리살 간장조림
jiwon,2025-01-23,한솥
jacob,2025-01-23,육회비빔밥
heejin,2025-01-23,김밥
lucas,2025-01-23,육회비빔밥
nuni,2025-01-23,육회비빔밥
TOM,2025-01-24,볶음밥
cho,2025-01-24,등심돈까스
hyun,2025-01-24,안심까스
JERRY,2025-01-24,반반가츠
SEO,2025-01-24,-
jiwon,2025-01-24,부리또
jacob,2025-01-24,순두부찌개
heejin,2025-01-24,김치찌개
lucas,2025-01-24,콩나물해장국
nuni,2025-01-24,김치찌개,라면
TOM,2025-02-03,짜장면
cho,2025-02-03,치즈라면, 김밥
hyun,2025-02-03,라돈 모다기
JERRY,2025-02-03,모다기
SEO,2025-02-03,닭죽
jiwon,2025-02-03,잔치국수
jacob,2025-02-03,김치 찌개
heejin,2025-02-03,샌드위치
lucas,2025-02-03,제육볶음
nuni,2025-02-03,제육볶음
TOM,2025-02-04,-
cho,2025-02-04,-
hyun,2025-02-04,-
JERRY,2025-02-04,-
SEO,2025-02-04,-
jiwon,2025-02-04,-
jacob,2025-02-04,-
heejin,2025-02-04,-
lucas,2025-02-04,-
nuni,2025-02-04,-
TOM,2025-02-05,-
cho,2025-02-05,-
hyun,2025-02-05,-
JERRY,2025-02-05,-
SEO,2025-02-05,-
jiwon,2025-02-05,-
jacob,2025-02-05,-
heejin,2025-02-05,-
lucas,2025-02-05,-
nuni,2025-02-05,-

In [12]:
melted_df = df.melt(id_vars=['ename'], value_vars=df.columns[start_idx:-2], 
                     var_name='dt', value_name='menu')

In [13]:
melted_df

      ename          dt          menu
0       TOM  2025-01-07           순대국
1       cho  2025-01-07           닭개장
2      hyun  2025-01-07  닭개장(특) , 꽈배기
3     JERRY  2025-01-07           닭개장
4       SEO  2025-01-07           볶음밥
..      ...         ...           ...
145   jiwon  2025-02-03          잔치국수
146   jacob  2025-02-03         김치 찌개
147  heejin  2025-02-03          샌드위치
148   lucas  2025-02-03          제육볶음
149    nuni  2025-02-03          제육볶음

[150 rows x 3 columns]

In [36]:
melted_df['menu']

0               순대국
1               닭개장
2      닭개장(특) , 꽈배기
3               닭개장
4               볶음밥
           ...
145            잔치국수
146           김치 찌개
147            샌드위치
148            제육볶음
149            제육볶음
Name: menu, Length: 150, dtype: object

In [38]:
melted_df[~melted_df['menu'].isin(['-','x','<결석>'])]

      ename          dt          menu
0       TOM  2025-01-07           순대국
1       cho  2025-01-07           닭개장
2      hyun  2025-01-07  닭개장(특) , 꽈배기
3     JERRY  2025-01-07           닭개장
4       SEO  2025-01-07           볶음밥
..      ...         ...           ...
145   jiwon  2025-02-03          잔치국수
146   jacob  2025-02-03         김치 찌개
147  heejin  2025-02-03          샌드위치
148   lucas  2025-02-03          제육볶음
149    nuni  2025-02-03          제육볶음

[143 rows x 3 columns]

In [39]:
melted_df['menu'].isin(['-','x','<결석>']).value_counts

<bound method IndexOpsMixin.value_counts of 0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Name: menu, Length: 150, dtype: bool>

In [41]:
not_na_df = melted_df[~melted_df['menu'].isin(['-','x','<결석>'])]

In [48]:
not_na_df.groupby('ename')['menu'].count().reset_index()

    ename  menu
0   JERRY    14
1     SEO    14
2     TOM    14
3     cho    15
4  heejin    15
5    hyun    15
6   jacob    15
7   jiwon    12
8   lucas    15
9    nuni    14

In [57]:
gdf = not_na_df.groupby('ename')['menu'].count().reset_index()
gdf.head(3)

   ename  menu
0  JERRY    14
1    SEO    14
2    TOM    14